<nav class="navbar navbar-expand-lg navbar-light bg-light">
  	<a class="navbar-brand" href="/teams">
	<img src="https://www.screensaversplanet.com/img/screenshots/screensavers/mlb-leatherback-logos-1.png" alt="brand image">
	</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/teams">Teams</a>
      </li>
      <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
          League
        </a>
        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
          <a class="dropdown-item" href="/teams/league/american league">American League</a>
			<a class="dropdown-item" href="/teams/league/national league">National League</a>
		  </div>
		</li>
		<% if(user){ %>
		  	<li class="nav-item">
       		 <a class="nav-link" href="/teams/new">Add Team</a>
      		</li>
		<% } %>	
		
		<% if(user){ %>
			<li class="nav-item">
        	<a class="nav-link" href="/logout">Logout</a>
      		</li>
		<%}else{ %>
			<li class="nav-item">
        		<a class="nav-link" href="/login">Login</a>
      		</li>
			<li class="nav-item">
        		<a class="nav-link" href="/signup">Sign Up</a>
      		</li>
		<%}%>
    </ul>
    <form class="form-inline my-2 my-lg-0" action="/teams/search" method="GET">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" name="term" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
  </div>
</nav>
<div class="container mt-2">
	<% if(successMessage && successMessage.length > 0) { %>
	<div class="alert alert-success fade show" role="alert">
  		<%= successMessage %>
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
    		<span aria-hidden="true">&times;</span>
  		</button>
	</div>
<% } %>
<% if(errorMessage && errorMessage.length > 0) { %>
	<div class="alert alert-warning fade show" role="alert">
  	<%= errorMessage %>
		<button type="button" class="close" data-dismiss="alert" aria-label="Close">
    		<span aria-hidden="true">&times;</span>
  		</button>
	</div>
<% } %>
</div>

	
