<%- include("partials/header") %>

<div class="container">
	<h1>ADD New Comment</h1>
	<form action="/teams/<%= teamId %>/comments" method="POST">
		
		<div class="form-group">
			<label for="text">Comment Here</label>
			<textarea class="form-control" name="text" id="text" rows="8" cols="80" placeholder="Comment text here..." required></textarea>
		</div>
		<input type="hidden" name="teamId" value="<%= teamId %>">
		<button type="submit" class="btn btn-primary">Submit Comment</button>
	</form>		
</div>


<%- include("partials/footer") %>