<style>
	h1 {text-align: center;}
</style>
<h1>
	Welome to the MLB
</h1>
<center>
<a class="landing" href="/teams" >
		<img src="https://www.screensaversplanet.com/img/screenshots/screensavers/mlb-leatherback-logos-1.png" 			alt="brand image" class="mlbLogo">
</a>
</center>